apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web
spec:
  rules:
  - host: mlflow.fraud-detection.live
    http:
      paths:
      - path: /
        backend:
          serviceName: web
          servicePort: 80
